<thead>
  <tr>
    <th>userId</th>
    <th>username</th>
    <th>first</th>
    <th>last</th>
    <th>isMember</th>
    <th>isAdmin</th>
    <th>password</th>
  </tr>
</thead>
<tbody>
  <% data.forEach(user => { %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.first %></td>
    <td><%= user.last %></td>
    <td><%= user.is_member ? "Member" : "--" %></td>
    <td><%= user.is_admin ? "Admin" : "--" %></td>
    <td>(Hidden from public)</td>
  </tr>
  <% }) %>
</tbody>
